*{
margin:0;
padding: 0;
font-family: 'Source Sans Pro',sans-serif;
box-sizing: border-box;
}
html,body{
height: 100%;
background-color: rgba(0, 0, 0, 0.815);
}
.clear{
clear: both;
}
.layout{

background-size:cover;
height: 230%;
}
.container{
max-width: 1280px;
width: 100%;
padding: 0 2%;
margin: 0 auto;
}
header{
width: 100%;

}

.left{
float: left;

}
.topoHeader .left p a {
font-size:20px

}
.topoHeader h1 a {
font-size: 20px;
color: white;
float: left;
}
.topoHeader{
padding: 40px 0;
}
.topoHeader p{
float: right;
line-height: 20px;
padding-left: 15px;
padding-right: 20px;
margin-top: -10px;
font-size: 24px;
color: white;

}
.topoHeader h1 {
user-select: none;
float: right;
cursor: pointer;
line-height: 20px;
padding-left: 15px;
padding-right: 20px;
margin-top: -10px;
font-size: 24px;
color: white;

}
.topoHeader p a{
font-size: 24px;
color: white;
text-decoration: none;
}
.topoHeader h1 a {
font-size: 24px;
color: white;
text-decoration: none;
}
.topoHeader i{
font-size: 20px;
line-height: 20px;
padding-left: 10px;
}
.topoHeader p a:hover{
color: royalblue;
}
.topoHeader h1 a:hover {
color: royalblue;
}

.logo{
margin-top: 0px;
text-align: center;
}
.Headerlogo{
padding: 5px 0;
}
.Headerlogo .logo img{
       width: 350px;
       height: 230px;
background-size: 100% 100%;
background-size: cover;
background-repeat: no-repeat;
}

.Headerlogo .carrinho img{
width: 28px;
height: 30px;
background-repeat: no-repeat;
}
.carrinho span:hover a{
color: white;
font-size:16px;
}
.carrinho span:hover{
padding:20px 6px 0 6px ;

background-color: rgba(7, 6, 6, 0.692);
border-radius: 100px;

}

.Headerlogo .carrinho a{
font-size: 15px;
text-decoration: none;
color: black;

}
.Headerlogo .carrinho {
padding-right: 20px;
margin-top: -140px;
text-align: right;
}
.Pesquisar{
    margin-top: -38px;
}
.Pesquisar form{
margin-top: 20px;
margin-left: 400px;
}

.Pesquisar input[type=text]{
width: 300px;
float: left;
font-size: 20px;
height: 30px;
border-radius: 7px;
outline: 0;
padding: 0 10px 0 10px;
border: 1px solid #cccccc;
}
.Pesquisar button{
margin-top:1px;
border: none;
outline: 0;
background: none;
}


.Pesquisar select{
display: none;
font-size :15px;
font-weight: 300;
}
.Pesquisar button img{
height: 28px;
padding-left:3px;
float: left;
cursor: pointer;
line-height: 28px;
outline: 0;
}

nav.desktop{
position: absolute;
left: 300px;
text-align: left;
}

nav.mobile{
display: none;
position: fixed;
z-index: 1000;
margin-top: 40px;
background-image: url(../../assets/images/icons/menu.png);
width: 32px;
height: 32px;
background-size: 100% 100%;
cursor: pointer;}

nav.mobile ul {
    display: none;
    list-style-type:none ;
    float: left;
    width: 100%;
    padding: 5px 0;
    border-radius: 25px;
    margin-top: 42px;
    z-index: 999;
    background-color:rgba(5, 3, 3, 0.781);
    
}

nav.mobile li {
    margin-left: 150px;
    display: inline-block;

}
nav.desktop ul{
list-style-type: none;
}
nav.desktop  ul li img{
background-size: 100%;

}
nav.desktop li:last-of-type{
margin-right: 0;
}
nav.desktop li{
text-align: left;
display: inline-block;
margin-right:130px;
margin-top:110px;
}
nav.desktop li:hover .submenu {
display: block;
border-radius: 7px;

}

.active-slider{
background-color: #ccc;
}
.submenu {
width: 150px;
z-index: 2;
margin-top:3px ;
background-color: rgba(5, 5, 5, 0.719);
position: absolute;
display:none;

}
.submenu a:hover{
color: rgba(220, 222, 224, 0.835);
border-radius: 3px;
background-color: rgb(10, 10, 10);
}

.submenu a{
width: 150px;
padding-left: -10px;
text-decoration: none;
padding-left: 5px;
margin-top: 10px;
color:white;
display: inline-block;
font-size:20px;
}
/*/*settings user*/
.topoHeader h1:hover .settings {
display: block;
border-radius: 7px;

}



.settings {
width: 200px;
z-index: 2;
margin-top: 3px;
background-color:rgb(22, 21, 21);
position: absolute;
display: none;

}

.settings h1 li:hover {
color: rgba(220, 222, 224, 0.835);
border-radius: 3px;
background-color: rgb(10, 10, 10);
}
.settings ul  {
list-style-type: none;
}
.settings  li {
width: 200px;
text-decoration: none;
padding-left: 10px;
margin-bottom: 5px ;
margin-top: 10px;
color: white;
float: left;
font-size: 20px;
}


nav.desktop li:nth-of-type(4){
padding: 1px 2px;

}
.linha{
width: 100%;
z-index: 0;
border-bottom: 3px solid #cccccc;
}

/**produtos Home**/
.chamada-escolher{
color: white; 
text-decoration: none;
text-align: center;
margin-top: 40px;
}
.S2{
margin-top: 80px;
margin-bottom: 20px;
}

.produto-box {
float: left;
width: 24.3%;
padding: 10px 20px;
}
.master-box {
    float: left;
    width: 80%;
    padding: 10px 20px;
}



.items {
padding: 10px 0;
}

div.produto-single-box:hover div.product_price{
border-bottom:none ;
}

.produto-single-box div.produto-single-box2 div.compra:hover {
background-color: rgba(8, 167, 8, 0.719);
}
.produto-single-box div.produto-single-box2 div.detalhe:hover {
background-color:  rgba(56, 144, 185, 0.952)
}
div.produto-single-box:hover div.product_name{
color: rgb(223, 223, 223);
}
div.produto-single-box:hover {

box-shadow: -1px 1px 25px 9px rgba(0, 0, 0, 0.904);
border: white 2px solid;
}
.box:hover div.product_name {
    color: rgb(223, 223, 223);
}

.box:hover {
    border: white 2px solid;
}
div.produto-single-box{
padding: 6px 8px 6px 8px;
text-align: center;
width: 111%;
height:430px;
border-radius: 29px;

}
div.produto-single-box2 {
padding: 4px 8px 4px 8px;
width: 100%;
height:100%;
border-radius: 23px;
background-color:rgba(5, 3, 3, 0.781);

}
.box {
  
    width:250px;
    height:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 6px 8px 6px 8px;
    text-align: center;
    border-radius: 29px;

}


.box2 {
    width:230px;
    height:400px;
   	display: flex;
   	flex-direction: column;
   	align-items: center;
   	justify-content: space-between;
   	box-sizing: border-box;
    border-radius: 23px;
    background-color: rgba(5, 3, 3, 0.781);

}
div.image{
padding-top: 5px;
margin:3px 0px 3px 10px;
width: 93%;
max-width: 330px;
border-radius: 10px;
height: 240px;
}
.box2 .imagess img {
    width: 90%;
    border-radius: 3px;
    height: 224px;
}
div.imagess {
    padding-top: 5px;
    margin: 14px 0px 3px 10px;
    width: 98%;
    max-width: 330px;
    border-radius: 10px;
    height: 240px;
}

.box2 .product_price_froms {
    margin-top: 3px;
    padding-top: 7px;
    color: gray;
    font-size: 15px;
    font-weight: 300;
}

.box2 .product_prices {
    margin-top: 3px;
    padding-top: 7px;
    padding-bottom: 5px;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.box2 div.product_names {
    margin-top: 6px;
    padding-top: 3px;
    cursor: pointer;
    color: rgba(223, 223, 223, 0.911);
    font-size: 15px;
    font-weight: 300;
}




div.produto-single-box2 div.image img {
width: 100%;
border-radius: 3px;
height: 240px;
}
div.produto-single-box2 div.product_price_from {
margin-top: 3px;
padding-top: 7px;
color:gray;
font-size: 15px;
font-weight: 300;
}

div.produto-single-box2 div.product_price{
margin-top: 3px;
padding-top: 7px;
padding-bottom: 5px;
color: white;
font-size: 20px;
font-weight: 300;
}
div.produto-single-box2 div.product_name {
margin-top: 6px;
padding-top: 3px;
cursor: pointer;
color:rgba(223, 223, 223, 0.911);
font-size: 15px;
font-weight: 300;
}
/*div.produto-single-box2 div.product_brand {
text-align: center;
color: rgba(223, 223, 223, 0.911);
font-size: 24px;
font-weight: 300;
}*/
div.product_tags{
margin-top: 15px;
position: absolute;


}
div.product_tag {
color: white;
float: left;
clear: both;
margin-bottom: 10px;

}
.New{
font-size: 20px;
line-height: 20px;
background-color: rgba(23, 44, 107, 0.863);
border-radius: 0 0 25px 0;
padding: 5px 10px 7px 5px;


}
.BestSeller {
font-size: 20px;
line-height: 20px;
background-color: rgba(0, 128, 0, 0.541);
border-radius: 0 0 40px 0;
padding: 5px 10px 7px 5px;

}
.Sales {
font-size: 20px;
line-height: 20px;
background-color: rgba(128, 0, 0, 0.883);
border-radius: 0 0 40px 0;
padding: 5px 10px 7px 5px;

}


.produto-single-box div.produto-single-box2 a {
color: white;
padding: 4px 8px 4px 0px;
display: inline-block;
font-size: 19px;
text-decoration: none;
}
div.produto-single-box2 div.compra{
margin-top: 3px;
background:rgba(13, 90, 3, 0.897) ;
font-size: 15px;
float: left;
border-radius: 10px;
margin-left: 5px;
display: none;
}

div.produto-single-box2 div.detalhe {
margin-top: 3px;
background-color: rgba(13, 128, 182, 0.849);
font-size: 15px;
float: left;
vertical-align: middle;
border-radius: 10px;
margin-left: 5px;
display: none;
}
div.produto-single-box2 a img {
margin: -2px 5px;
margin-top: -5px;
margin-right: 5px;
width: 15px;
height: 15px;
}




.box2 .compra {
    padding: 4px 8px 4px 0px;
    margin-top: 3px;
    background: rgba(13, 90, 3, 0.897);
    font-size: 20px;
    float: left;
    border-radius: 10px;
    margin-left: 5px;
    display: none;
}

.box2 .detalhe {
    margin-top: 3px;
    padding: 4px 8px 4px 0px;
    background-color: rgba(13, 128, 182, 0.849);
    font-size: 20px;
    float: left;
    vertical-align: middle;
    border-radius: 10px;
    margin-left: 5px;
    display: none;
}

.box2 a img {
    margin: -2px 5px;
    margin-top: -5px;
    margin-right: 5px;
    width: 30px;
    height: 15px;
}
/*Modal*/

.bg-modal{
    display:none;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.754);
}
.Modalname{
    font-size: 30px;
    margin-bottom: 15px;
    margin-top:10px;
    color: #444;
}
.close{
    float: right;
    cursor: pointer;
    margin-top:-50px ;
    padding: 0 0 0 240px;
}
.close i {
    font-size: 30px;
    color: white;
}
.cent{
    padding-top:3%;
    margin: 0 50px;
}
.cent input[type=text]{
    width: 450px;
    margin-bottom: 10px;
    padding-left: 10px;
    outline: 0;
    border: 2px solid rgba(52, 159, 231, 0.589);
    border-radius: 10px;
    font-size:20px;
    height: 40px;

}
.cent input[type=submit] {
    width: 150px;
    margin-top: 20px;
    margin-left:150px;
    background-color:rgba(63, 61, 173, 0.959);
    outline: 0;
    font-size: 30px;
    cursor: pointer;
    color: white;
    border: 0;
    border-radius: 10px;
    height: 40px;

}
textarea{
    margin-top: 10px;
    width:450px;
    border: 2px solid rgba(52, 159, 231, 0.589);
    height: 350px;
    outline: 0;
    resize: none;
    font-size: 20px;
    border-radius:20px ;
    padding: 5px 10px;
}
textarea:hover{
 border: 2px solid rgba(42, 75, 221, 0.589);
}

input[type=text]:hover {
    border: 2px solid rgba(42, 75, 221, 0.589);
}

.modal{
   
    width: 30%;
    height: 80%;
    margin: 80px auto 0 auto;
    border: 2px solid rgba(52, 159, 231, 0.589);
    background-color: rgb(255, 255, 255);
    border-radius: 29px;
}



/* exit modal*/



.box .box2 a {
    color: white;
    width: 220px;
    display: inline-block;
    font-size: 19px;
    text-decoration: none;
}

.box2 div.compra {
    margin-top: 3px;
    background: rgba(13, 90, 3, 0.897);
    font-size: 15px;
    float: left;
    border-radius: 10px;
    margin-left: 5px;
    display: none;
}

.box2 div.detalhe {
    margin-top: 3px;
    background-color: rgba(13, 128, 182, 0.849);
    font-size: 15px;
    float: left;
    vertical-align: middle;
    border-radius: 10px;
    margin-left: 5px;
    display: none;
}

.box2 a img {
    margin: -2px 5px;
    margin-top: -5px;
    margin-right: 5px;
    width: 15px;
    height: 15px;
}
/*Finalizar compra*/
.tabela-pedidos{
margin-top: 40px;
}

.tabela-pedidos h2{
margin:20px 0;
border-bottom: 2px solid #ccc;
font-size: 24px;
color: #ccc;
}

.tabela-pedidos table{
width: 100%;
border-collapse: collapse;
}

.tabela-pedidos tr:first-child td{
font-weight: bold;
padding: 10px 0;
}
.tabela-pedidos span{
padding: 5px;
background: #ccc;
border-radius: 10px;
border: solid 1px gray;
color:black;
}
.tabela-pedidos td{
font-size: 20px;
padding: 20px 0;
line-height: 20px;
color: white;
border: 1px solid #ccc;
text-align:center;
}

.finalizar-pedido h2{
padding:10px 0;
font-size:20px;
color: white;
font-weight: normal;
float: right;
}

.btn-pagamento{
display: inline-block;
padding: 3px 10px;
background-color: green;
color: white;
border-radius: 15px;
text-decoration: none;

}

/*banner inicio*/


section.banner {
margin-top: 180px;
width: 100%;
height: 600px;
background-color: black;
}



.bullets {
position: absolute;
bottom: -46px;
left: 50%;
transform: translateX(-50%);
z-index: 5;
}


.bullets span:hover{
border: #444 1px solid;
background-color: transparent;
}
.bullets span {
margin: 0 10px;
display: inline-block;
width: 16px;
height: 16px;
border-radius: 50%;
cursor: pointer;
background-color: #444;
}


.bullets span.active-slider {
background:rgb(143, 137, 137);
}

.slide {
position: absolute;
width: 100%;
height:600px;
background-repeat: no-repeat;
background-size: 100% 100%;

}



.Cart{
width: 100%;
user-select: none;
margin-top: 15%;
}
.Cart tr{
width: 100%;
}
.Cart th{
color:black;
font-size: 25px;
}
.Cart td a:hover{
background-color: rgba(255, 255, 255, 0.644);
}

.Cart td a{
text-decoration: none;
color: white;
font-size:20px;
padding: 5px 15px;
border-radius:25px ;
background-color: rgba(255, 255, 255, 0.383);
}


.Cart td {
text-align: center;
padding-top: 10px;
font-size: 23px;
color: #ccc;

}
.Cart h1{
font-size: 30px;
color: white;
margin-bottom: 20px;
}
.Cart table{
padding: 20px 0;
box-shadow: -1px 1px 25px 9px rgba(0, 0, 0, 0.534);
border: 2px solid white;
border-radius: 8px;
}
.Cart table i {
font-size: 28px;
color: rgba(255, 0, 0, 0.514);
}
.Cart table img{
border-radius:7px ;
width: 100px;
height: 100px;
}

.subtotal th{
color: white;
font-size: 23px;
}

/*altura*/


@media screen and (max-height:918px) {
.bullets {
    position: absolute;
    bottom: -69px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;}

    .layout {
        background-size: cover;
        height: 250%;
    
}
}
@media screen and (max-height:886px) {
    .layout {
        background-size: cover;
        height: 250%;
    }

    .bullets {
        position: absolute;
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
    }
}

@media screen and (max-height:850px) {
    .layout {
        background-size: cover;
        height: 300%;
    }

    .bullets {
        position: absolute;
        bottom: -142px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
    }
}

@media screen and (max-height: 826px) {
    .layout {
        background-size: cover;
        height: 320%;
    }

    .bullets {
        position: absolute;
        bottom: -180px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
    }
}
@media screen and (max-height: 768px) {
    .layout {
        background-size: cover;
        height: 240%;
    }

    .bullets {
        position: absolute;
        bottom: -180px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
    }
}
@media screen and (max-height: 625px) {
    .layout {
        background-size: cover;
        height: 287%;
    }
    section.banner {
    margin-top: 180px;
    width: 100%;
    height: 321px;
    background-color: black;
}
.box {
    width: 235px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 6px 8px 6px 8px;
    text-align: center;
    border-radius: 29px;
}
.box2 .imagess img {
    width: 85%;
    border-radius: 3px;
    height: 174px;
}
.box2 a img {
    margin: -2px -10px;
    margin-top: -5px;
    margin-right: 5px;
    width: 15px;
    height: 15px;
}
div.imagess {
    padding-top: 5px;
    margin: 14px 0px 3px 10px;
    width: 98%;
    max-width: 330px;
    border-radius: 10px;
    height: 174px;
}
.box2 div.product_names {
    width: 220px;
    margin-top: 6px;
    padding-top: 3px;
    cursor: pointer;
    color: rgba(223, 223, 223, 0.911);
    font-size: 13px;
    font-weight: 300;
}
.box2 {
    width: 220px;
    height: 295px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 23px;
    background-color: rgba(5, 3, 3, 0.781);
}
.slide {
    position: absolute;
    width: 100%;
    height: 321px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

    .bullets {
        position: absolute;
        bottom: -90px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
    }
}


/*lagura*/
@media screen and (max-width: 1800px){

nav.desktop li {
text-align: left;
display: inline-block;
margin-right: 130px;
margin-top: 110px;
}

.Pesquisar form {
    margin-top: 20px;
    margin-left: 250px;
}
nav.desktop {
position: absolute;
left: 250px;
text-align: left;
}
}

@media screen and (max-width: 1650px) {

.Pesquisar form {
    margin-top: 20px;
    margin-left:230px;
}

nav.desktop {
position: absolute;
left: 200px;
text-align: left;
}
}

@media screen and (max-width: 1518px) {

nav.desktop li {
text-align: left;
display: inline-block;
margin-right: 130px;
margin-top: 110px;
}

.Pesquisar form {
    margin-top: 20px;
    margin-left: 100px;
}
nav.desktop {
position: absolute;
left: 90px;
text-align: left;
}


@media screen and (max-height: 826px){
.layout {
    background-size: cover;
    height: 262%;
}

}
}
@media screen and (max-width: 1446px) {

nav.desktop li {
text-align: left;
display: inline-block;
margin-right: 130px;
margin-top: 110px;
}


nav.desktop {
position: absolute;
left: 60px;
text-align: left;
}

}

@media screen and (max-width: 1439px) {

nav.desktop li {
text-align: left;
display: inline-block;
margin-right: 120px;
margin-top: 110px;
}

nav.desktop {
position: absolute;
left: 60px;
text-align: left;
}
}
@media screen and (max-width: 1377px) {

nav.desktop li {
text-align: left;
display: inline-block;
margin-right: 110px;
margin-top: 110px;
}
.S2 {
    margin-top: 50px;
    margin-bottom: 8px;
}
.topoHeader .left p {
   display: none;
}
.topoHeader .left p:nth-child(1) {
    display: block;
    font-size: 15px;
}

.topoHeader p a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
nav.desktop {
position: absolute;
left: 40px;
text-align: left;
}
}

@media screen and (max-width: 1300px) {

.topoHeader h1 {
    user-select: none;
    float: right;
    cursor: pointer;
    line-height: 20px;
    padding-left: 15px;
    padding-right: 20px;
    margin-top: -10px;
    font-size: 20px;
    color: white;
}


nav.desktop li {
text-align: left;
display: inline-block;
margin-right: 90px;
margin-top: 110px;
}


nav.desktop {
position: absolute;
left: 40px;
text-align: left;
}
}

@media screen and (max-width: 1250px) {

nav.desktop li {
text-align: left;
display: inline-block;
margin-right: 80px;
margin-top: 110px;
}


nav.desktop {
position: absolute;
left: 40px;
text-align: left;
}

}


@media screen and (max-width: 1224px) {
.Pesquisar form {
    margin-top: 20px;
    margin-left: 50px;
}
nav.desktop li {
text-align: left;
display: inline-block;
margin-right: 60px;
margin-top: 110px;
}
.layout {
    background-size: cover;
        height: 250%;
}
.slide {
    position: absolute;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
section.banner {
    margin-top: 180px;
    width: 100%;
    height: 400px;
    background-color: black;
}
.bullets {
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}
.S2 {
    margin-top: 17px;
    margin-bottom: 12px;
}

nav.desktop {
position: absolute;
left: 40px;
text-align: left;
}
}



@media screen and (max-width: 1140px) {

    .topoHeader h1 {
    user-select: none;
    float: right;
    cursor: pointer;
    line-height: 20px;
    padding-left: 15px;
    padding-right: 20px;
    margin-top: -10px;
    font-size: 17px;
    color: white;
}
nav.desktop {
display: none;
}
.linha {
  display: none;
}

section.banner {
    margin-top: 80px;
    width: 100%;
    height: 400px;
    background-color: black;
}

.bullets {
    position: absolute;
    bottom: 260px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}
nav.mobile li:hover .submenu {
display: block;
border-radius: 7px;

}
.submenu {
width: 100px;
z-index: 2;
margin-top:0px ;
background-color: rgba(5, 5, 5, 0.719);
position: absolute;
display:none;

}
nav.mobile{
    display: block;
    position: fixed;
    z-index: 1000;
    margin-top: 40px;
    background-image: url(../../assets/images/icons/menu.png);
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    cursor: pointer;

}
.submenu a:hover{
color: rgba(220, 222, 224, 0.835);
border-radius: 4px;
background-color: rgb(10, 10, 10);
}


nav.mobile ul {
    list-style-type:none ;
    float: left;
    width: 1000px;
    padding: 5px 0;
    border-radius: 25px;
    margin-top: 42px;
    z-index: 999;
    background-color:rgba(5, 3, 3, 0.781);
    
}
nav.mobile li {
    margin-left: 140px;
    display: inline-block;

}

nav.mobile a {
    font-size: 23px;
    text-decoration: none;
    color: white;
}

nav.mobile  .submenu a{
width: 100px;
padding-left: -10px;
text-decoration: none;
padding-left: 5px;
margin-top: 10px;
color:white;
display: inline-block;
font-size:15px;
}

nav.desktop {
position: absolute;
left: 20px;
text-align: left;
}
}

@media screen and (max-width: 1050px) {

nav.mobile li:hover .submenu {
display: block;
border-radius: 7px;

}
.submenu {
width: 100px;
z-index: 2;
margin-top:0px ;
background-color: rgba(5, 5, 5, 0.719);
position: absolute;
display:none;

}
nav.mobile{
    display: block;
    position: fixed;
    z-index: 1000;
    margin-top: 40px;
    background-image: url(../../assets/images/icons/menu.png);
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    cursor: pointer;

}
.submenu a:hover{
color: rgba(220, 222, 224, 0.835);
border-radius: 4px;
background-color: rgb(10, 10, 10);
}


nav.mobile ul {
    list-style-type:none ;
    float: left;
    width: 800px;
    padding: 5px 0;
    border-radius: 25px;
    margin-top: 42px;
    z-index: 999;
    background-color:rgba(5, 3, 3, 0.781);
    
}
nav.mobile li {
    margin-left: 110px;
    display: inline-block;
}

nav.mobile a {
    font-size: 23px;
    text-decoration: none;
    color: white;
}

nav.mobile  .submenu a{
width: 100px;
padding-left: -10px;
text-decoration: none;
padding-left: 5px;
margin-top: 10px;
color:white;
display: inline-block;
font-size:15px;
}

}


@media screen and (max-width: 1105px) {

nav.desktop li {
text-align: left;
display: inline-block;
margin-right: 60px;
margin-top: 110px;

}

nav.desktop {
position: absolute;
left: 10px;
text-align: left;
}
}

@media screen and (max-width: 1094px) {

nav.desktop li {
text-align: left;
display: inline-block;
margin-right: 50px;
margin-top: 110px;
}

.Pesquisar input[type=text] {
    width: 247px;
    float: left;
    font-size: 20px;
    height: 30px;
    border-radius: 7px;
    outline: 0;
    padding: 0 10px 0 10px;
    border: 1px solid #cccccc;
}


}



@media screen and (max-width: 1000px) {


nav.desktop li {
text-align: left;
display: inline-block;
margin-right: 20px;
margin-top: 110px;
}
.topoHeader {
    padding: 24px 0;
}



section.banner {
    display: none;
}

.layout {
    background-size: cover;
    height: 180%;
}





nav.desktop {
position: absolute;
left: 5px;
text-align: left;
}
}

@media screen and (max-width:950px){
    .topoHeader p a {
        font-size: 15px;
        color: white;
        text-decoration: none;
    }
    .topoHeader .left p a {
        font-size: 15px;
    }

    .topoHeader {
    padding: 28px 0;
}
    .chamada-escolher {
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 70px;
}
.Headerlogo .logo img {
    width: 296px;
    height: 227px;
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
    .Pesquisar input[type=text]{
width: 300px;
float: left;
font-size: 20px;
height: 30px;
border-radius: 7px;
outline: 0;
padding: 0 10px 0 10px;
border: 1px solid #cccccc;
}
    .topoHeader p {
        float: right;
        line-height: 20px;
        padding-left: 10px;
        padding-right: 15px;
        margin-top: -10px;
        font-size: 15px;
        color: white;
    }
}
@media screen and (max-width: 850px) {

nav.mobile li:hover .submenu {
display: block;
border-radius: 7px;

}
.submenu {
width: 100px;
z-index: 2;
margin-top:0px ;
background-color: rgba(5, 5, 5, 0.719);
position: absolute;
display:none;

}
nav.mobile{
    display: block;
    position: fixed;
    z-index: 1000;
    margin-top: 40px;
    background-image: url(../../assets/images/icons/menu.png);
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    cursor: pointer;

}
.submenu a:hover{
color: rgba(220, 222, 224, 0.835);
border-radius: 4px;
background-color: rgb(10, 10, 10);
}


nav.mobile ul {
    list-style-type:none ;
    float: left;
    width: 600px;
    padding: 5px 0;
    border-radius: 25px;
    margin-top: 42px;
    z-index: 999;
    background-color:rgba(5, 3, 3, 0.781);
    
}
nav.mobile li {
    margin-left: 60px;
    display: inline-block;
}

nav.mobile a {
    font-size: 23px;
    text-decoration: none;
    color: white;
}

nav.mobile  .submenu a{
width: 100px;
padding-left: -10px;
text-decoration: none;
padding-left: 5px;
margin-top: 10px;
color:white;
display: inline-block;
font-size:15px;
}

}
@media screen and (max-width:570px) {
    .topoHeader p a {
        font-size: 15px;
        color: white;
        text-decoration: none;
    }

    .topoHeader .left p a {
        font-size: 13px;
    }

    .topoHeader i {
        font-size: 13px;
        line-height: 20px;
        padding-left: 10px;
    }
    .topoHeader p {
        float: right;
        line-height: 20px;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: -10px;
        font-size: 13px;
        color: white;
    }
}

@media screen and (max-width:950px){

.Headerlogo .logo img {
    width: 293px;
    height: 219px;
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.Pesquisar input[type=text] {
    width: 180px;
    float: left;
    font-size: 20px;
    height: 30px;
    border-radius: 7px;
    outline: 0;
    padding: 0 10px 0 10px;
    border: 1px solid #cccccc;
}

}

@media screen and (max-width:680px){

.Headerlogo .logo img {
    width: 293px;
    height: 219px;
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.Pesquisar input[type=text] {
    width: 120px;
    float: left;
    font-size: 20px;
    height: 30px;
    border-radius: 7px;
    outline: 0;
    padding: 0 10px 0 10px;
    border: 1px solid #cccccc;
}

}
@media screen and (max-width: 640px) {

nav.mobile li:hover .submenu {
display: block;
border-radius: 7px;

}
.submenu {
width: 100px;
z-index: 2;
margin-top:0px ;
background-color: rgba(5, 5, 5, 0.719);
position: absolute;
display:none;

}
nav.mobile{
    display: block;
    position: fixed;
    z-index: 1000;
    margin-top: 40px;
    background-image: url(../../assets/images/icons/menu.png);
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    cursor: pointer;

}
.submenu a:hover{
color: rgba(220, 222, 224, 0.835);
border-radius: 4px;
background-color: rgb(10, 10, 10);
}



nav.mobile ul {
    list-style-type:none ;
    float: left;
    width: 300px;
    padding: 5px 0;
    border-radius: 25px;
    margin-top: 42px;
    z-index: 999;
    background-color:rgba(5, 3, 3, 0.781);
    
}
nav.mobile li {
    margin-left: 20px;
    display: inline-block;
}

nav.mobile a {
    font-size: 15px;
    text-decoration: none;
    color: white;
}

nav.mobile  .submenu a{
width: 100px;
padding-left: -10px;
text-decoration: none;
padding-left: 5px;
margin-top: 10px;
color:white;
display: inline-block;
font-size:15px;
}

}

@media screen and (max-width:590px){


.Pesquisar input[type=text] {
    margin-left: -40px;
    width: 120px;
    float: left;
    font-size: 20px;
    height: 30px;
    border-radius: 7px;
    outline: 0;
    padding: 0 10px 0 10px;
    border: 1px solid #cccccc;
}

}

